
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pia und Pascals Party-Plattform</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/index.css') }}">
</head>
</head>

<body>
  <div class="header">Pia und Pascals Party-Plattform</div>

<div class="center-buttons">
  <a href="{{ url_for('main.register') }}">
    <button class="big-button">Games</button>
  </a>
  <button class="big-button">Tools</button>
</div>

</body>
</html>