<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('flip7LobbyBp.static', filename='js/flip7Lobby.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('flip7LobbyBp.static', filename='css/flip7Lobby.css') }}">
    <script>
    window.socket = io(); // global

    window.socket.on('connect', () => console.log('connected as', window.socket.id));

    window.socket.on('redirect', ({ url }) => {
        console.log('redirect to', url);
        window.location.href = url;
    });

    function joinLobby(lobbyId) {
        window.socket.emit('join_lobby', { lobbyId });
    }
    </script>


        
</head>
<body>
    <h1 class="header">flipSeven MainLobby</h1>

    <div class="lobby-container">
        <!-- Hosten Button -->
        <div class="host-box">
            <a href="/lobby/flip7/create"><button class="ready-button" >Hosten</button></a>
        </div>

        <!-- Lobby Liste -->
         {% for lobby in openFlip7Lobbies %}
        <div class="lobby-list">
            <div class="lobby-row">
                <span class="lobby-name">{{ lobby.name }}</span>
            </div>
            <div class="lobby-row">

            <button type="button" onclick="joinLobby('{{ lobby.id }}')">Beitreten</button>
        </div>
    </div>
    {% endfor %}

   
<a href="{{ url_for('mainLobbyBp.lobby') }}">
            <div class="back-container">
        <button class="back-button">Zurück</button>
    </div>
    </a>
</body>
</html>