<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    
    <link rel="stylesheet" href="{{ url_for('flip7LobbyBp.static', filename='css/flip7Lobby.css') }}">

</head>
<body>
    <h1 class="header">flipSeven GameLobby</h1>

    <div class="lobby-container">
        
        <form action="{{ url_for('gameFlip7Bp.flip7CreateGame') }}" method="post">
            <input type="hidden" name="lobbyId" value="{{ flip7Lobby.id }}">
            <button type="submit">Start Game</button>
        </form>
   
<a href="{{ url_for('flip7LobbyBp.flip7MainLobby') }}">
            <div class="back-container">
        <button class="back-button">Zurück</button>
    </div>
    </a>
</body>
</html>