body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;

  /* Damit die Buttons vertikal zentriert sind */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 36px;
}

.center-buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.big-button {
  padding: 50px 100px;
  font-size: 28px;
  background-color: #1e1e1e;
  color: #fff;
  border: 2px solid #444;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.big-button:hover {
  background-color: #333;
  transform: scale(1.05);
}
