<!DOCTYPE html>
<html>
<head>
    <title>Quizspiel - Join</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script  type="module" src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Quizspiel</h1>
    <div id="join">
        <input id="name" placeholder="Name eingeben">
        <button onclick="register()">Mitspielen</button>

        <button onclick="window.location.href = '/dummyPage.html'"> dummySeite</button>
        <a href = "{{url_for('dummy')}}"> <button> click me bitch</button></a>
    </div>
</body>
</html>
