<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/lobby.css">
    <title>Lobby</title>
</head>
<body>

<h1>Lobby</h1>

<div class="lobby">
    <div class="game">
        <a href="/lobby/quizGameLobby"><img src="{{ url_for('static', filename='css/assets/images/gameLogos/quiz.jpg') }}" alt="Game 1"></a>
        <div class="game-title">Game 1</div>
    </div>
    <div class="game">
        <a href="/lobby/keywordsLobby"> <img src="{{ url_for('static', filename='css/assets/images/gameLogos/keywords.jpg') }}" alt="Game 2"></a>
        <div class="game-title">Game 2</div>
    </div>
    <div class="game">
         <a href="/lobby/flipSevenLobby"> <img src="{{ url_for('static', filename='css/assets/images/gameLogos/flip7.jpg') }}"alt="Game 3"></a>

        <div class="game-title">Game 3</div>
    </div>
    <!-- <div class="game">
        <gameLogos src="bild4.jpg" alt="Game 4">
        <div class="game-title">Game 4</div>
    </div>
    <div class="game">
        <gameLogos src="bild5.jpg" alt="Game 5">
        <div class="game-title">Game 5</div>
    </div>
    <div class="game">
        <gameLogos src="bild6.jpg" alt="Game 6">
        <div class="game-title">Game 6</div>
    </div>
    <div class="game">
        <gameLogos src="bild7.jpg" alt="Game 7">
        <div class="game-title">Game 7</div>
    </div>
    <div class="game">
        <gameLogos src="bild8.jpg" alt="Game 8">
        <div class="game-title">Game 8</div>
    </div>-->
</div>

<div class="nav-buttons">
    <button>&larr; Zurück</button>
    <button>Weiter &rarr;</button>
</div>

</body>
</html>
